@font-face {
  font-family: Redgar;
  src: local("Redgar"),
       url(../Redgar.ttf);
  font-weight: bold;
}

#ad-container{
	width:300px;
	height: 250px;
	float: left;
	background: #ccc;
	font-family: "Redgar";
}

.img{
	position: absolute;
}

#img-texture{
	max-width: 300px;
	overflow-x: hidden;
	direction: rtl;
}

#textlayer-1{
	position: absolute;
	z-index: 995;
	color: #fff;
	margin-left:100px;
}

#textlayer-2{
	position: absolute;
	z-index: 996;
	color: #fff;
	margin-left: 50px;
}

#textlayer-3{
	position: absolute;
	z-index: 997;
	color: #fff;
	top:150px;
	left: 60px;
}

#replay{
	z-index: 998;
	position: absolute;
	top:20px;
	left:20px;
	cursor: pointer;
}

#product-img{
	position: absolute;
	top:50px;
	left: 30px;
}

#buy-now{
	top:200px;
	left: 80px;
}

.highlight{
	color:red;
}